<launch>
	
	<node pkg="stage_ros" type="stageros" name="stageros" args="$(find beginner_msgsrv)/world/question2.world" 
	output="screen"/> 
	<node pkg="beginner_msgsrv" type="projecttask2.py" name="robot_0" args="0 -3 6" output="screen"/>	
	<node pkg="beginner_msgsrv" type="projecttask2.py" name="robot_1" args="1 -2 4" output="screen"/>

</launch>
